{
  "openapi": "3.0.1",
  "info": {
    "title": "MyBCA.Server | v1",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://main-service-prod-oc1.mybca.link/"
    }
  ],
  "paths": {
    "/api/Bus/List": {
      "get": {
        "tags": [
          "Bus"
        ],
        "summary": "Retrieves a map of each bus to its position",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BusApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Bus/History": {
      "get": {
        "tags": [
          "Bus"
        ],
        "summary": "Retrieves a history of a bus's arrivals",
        "parameters": [
          {
            "name": "bus",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusArrivalDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusArrivalDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusArrivalDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Bus/Reports/Generate": {
      "get": {
        "tags": [
          "Bus"
        ],
        "summary": "Generates a CSV report of all bus arrival data",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "default": null
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Links": {
      "get": {
        "tags": [
          "Link"
        ],
        "summary": "Retrieves a list of quick links to key BCA services",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LinkApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/News/Stories/Latest": {
      "get": {
        "tags": [
          "News"
        ],
        "summary": "Retrieves the latest news story",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NewsApiResponseOfNewsStoryDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsApiResponseOfNewsStoryDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsApiResponseOfNewsStoryDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/News/Stories": {
      "get": {
        "tags": [
          "News"
        ],
        "summary": "Retrieves the top 10 latest news stories",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NewsApiResponseOfIEnumerableOfNewsStoryDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsApiResponseOfIEnumerableOfNewsStoryDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsApiResponseOfIEnumerableOfNewsStoryDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/News/Stories/{id}": {
      "get": {
        "tags": [
          "News"
        ],
        "summary": "Retrieves a story by its ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NewsStoryDto2"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsStoryDto2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsStoryDto2"
                }
              }
            }
          }
        }
      }
    },
    "/api/Lunch/Week": {
      "get": {
        "tags": [
          "Nutrislice"
        ],
        "summary": "Retrieves the lunch menu for the week",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NutrisliceApiResponseOfMenuWeekDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NutrisliceApiResponseOfMenuWeekDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NutrisliceApiResponseOfMenuWeekDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/Lunch/Day": {
      "get": {
        "tags": [
          "Nutrislice"
        ],
        "summary": "Retrieves the lunch menu for the day",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NutrisliceApiResponseOfMenuDayDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NutrisliceApiResponseOfMenuDayDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NutrisliceApiResponseOfMenuDayDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/Schedule/Day/{date}": {
      "get": {
        "tags": [
          "Schedule"
        ],
        "summary": "Retrieves details of the schedule for a day",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleDayDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleDayDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleDayDto"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BusApiResponse": {
        "required": [
          "count",
          "data",
          "expiry"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "expiry": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "BusArrivalDto": {
        "required": [
          "busName",
          "busPosition",
          "arrivalTime"
        ],
        "type": "object",
        "properties": {
          "busName": {
            "type": "string",
            "nullable": true
          },
          "busPosition": {
            "type": "string",
            "nullable": true
          },
          "arrivalTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FoodItemDto": {
        "required": [
          "id",
          "name",
          "description",
          "subtext",
          "imageUrl"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "subtext": {
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "LinkApiResponse": {
        "required": [
          "count",
          "data"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinkDto"
            }
          }
        }
      },
      "LinkDto": {
        "required": [
          "name",
          "target"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "target": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "MenuDayDto": {
        "required": [
          "date",
          "menuItems"
        ],
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "nullable": true
          },
          "menuItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MenuItemDto"
            }
          }
        }
      },
      "MenuDayDto2": {
        "required": [
          "date",
          "menuItems"
        ],
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "nullable": true
          },
          "menuItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MenuItemDto"
            }
          }
        },
        "nullable": true
      },
      "MenuItemDto": {
        "required": [
          "date",
          "position",
          "isSectionTitle",
          "text",
          "food",
          "stationID",
          "isStationHeader",
          "image",
          "category"
        ],
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "position": {
            "type": "integer",
            "format": "int32"
          },
          "isSectionTitle": {
            "type": "boolean"
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "food": {
            "$ref": "#/components/schemas/FoodItemDto"
          },
          "stationID": {
            "type": "integer",
            "format": "uint32"
          },
          "isStationHeader": {
            "type": "boolean"
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "MenuWeekDto": {
        "required": [
          "startDate",
          "displayName",
          "days"
        ],
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "nullable": true
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "days": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MenuDayDto"
            }
          }
        },
        "nullable": true
      },
      "NewsApiResponseOfIEnumerableOfNewsStoryDto": {
        "required": [
          "data",
          "expiry"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NewsStoryDto2"
            },
            "nullable": true
          },
          "expiry": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "NewsApiResponseOfNewsStoryDto": {
        "required": [
          "data",
          "expiry"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/NewsStoryDto"
          },
          "expiry": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "NewsStoryDto": {
        "required": [
          "id",
          "title",
          "link",
          "imageLink",
          "contentHtml",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "imageLink": {
            "type": "string",
            "nullable": true
          },
          "contentHtml": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "nullable": true
      },
      "NewsStoryDto2": {
        "required": [
          "id",
          "title",
          "link",
          "imageLink",
          "contentHtml",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "imageLink": {
            "type": "string",
            "nullable": true
          },
          "contentHtml": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NutrisliceApiResponseOfMenuDayDto": {
        "required": [
          "data",
          "expiry"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/MenuDayDto2"
          },
          "expiry": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "NutrisliceApiResponseOfMenuWeekDto": {
        "required": [
          "data",
          "expiry"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/MenuWeekDto"
          },
          "expiry": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ScheduleDayDto": {
        "required": [
          "id",
          "day",
          "scheduleId",
          "schedule"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "scheduleId": {
            "type": "integer",
            "format": "int32"
          },
          "schedule": {
            "$ref": "#/components/schemas/ScheduleDto"
          }
        }
      },
      "ScheduleDto": {
        "required": [
          "id",
          "name",
          "items"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScheduleItemDto"
            }
          }
        },
        "nullable": true
      },
      "ScheduleItemDto": {
        "required": [
          "periodName",
          "startTime",
          "endTime"
        ],
        "type": "object",
        "properties": {
          "periodName": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "time"
          },
          "endTime": {
            "type": "string",
            "format": "time"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Bus"
    },
    {
      "name": "Link"
    },
    {
      "name": "News"
    },
    {
      "name": "Nutrislice"
    },
    {
      "name": "Schedule"
    }
  ]
}